/* Estilo geral para a página, apenas para centralizar o conteúdo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
}

h1 {
    color: #0056b3;
}


table {
    width: 80%; 
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

thead {
    background-color: #007bff;
    color: white; 
}

th, td {
    padding: 12px 15px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

