* { margin: 0; padding: 0; }

body {
  background-color: gray;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 32pt;
}

div#main {
  background-color: black;
  height: auto;
  width: 500px;
  padding: 10px;
  margin: auto;
  color: white;
  border-radius: 10px;
}

input {
  padding: 2px;
  margin: 2px;
  border-radius: 7px;
}

button {
  padding: 2px;
  margin: 1px;
}

div#res {
  text-align: center;
  font-size: 20pt;
  padding: 7px;
  margin: 2px;
}


